#h2_main{
    color: #9747FF;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
}

#h2_main2{
    color: #FFFFFF;
    letter-spacing: 5px;
    font-size: 40px;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
}

p, a{
    color: #FFFFFF;
    font-family: "Poppins";
}